<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Solicitudes de Acreditación</title>
    <link rel="stylesheet" href="/solicitudes.css" />
  </head>
  <body>
    <header>
      <a class="back-btn" href="/admin/home">← Atrás</a>
        <h1>Listado de Solicitudes de Acreditación</h1>
      <div></div>
    </header>

    <main>
      <% if (solicitudes.length === 0) { %>
      <p class="sin-solicitudes">No hay solicitudes registradas.</p>
      <% } else { %>
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Universidad</th>
            <th>Representante</th>
            <th>Carrera</th>
            <th>Fecha de Creación</th>
            <th>Estado</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <% solicitudes.forEach((solicitud, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= solicitud.universidad %></td>
            <td><%= solicitud.username %></td>
            <td><%= solicitud.nombre_carrera %></td>
            <td>
            <%= solicitud.fecha_creacion 
              ? new Date(solicitud.fecha_creacion).toLocaleString('es-PE', { 
                  day: '2-digit', 
                  month: '2-digit', 
                  year: 'numeric',
                  hour: '2-digit',
                  minute: '2-digit',
                  timeZone: 'America/Lima'
                }) 
              : "Sin fecha" %>
            </td>
            <td>
              <% if (solicitud.estado === 'pendiente') { %>
                Pendiente
              <% } else if (solicitud.estado === 'en_evaluacion') { %>
                En Evaluación
              <% } else if (solicitud.estado === 'finalizada') { %>
                Finalizada
              <% } else { %>
                <%= solicitud.estado %>
              <% } %>
            </td>
            <td>
              <a
                class="btn-gestionar"
                href="/admin/solicitudes/<%= solicitud.id_solicitud %>"
                >Gestionar</a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </main>
  </body>
</html>
