<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listado de Representantes</title>
    <link rel="stylesheet" href="/listarUsuarios.css" />
  </head>
  <body>
    <div class="title">
      <a class="back-btn" href="/admin/home">← Atrás</a>
      <h1>Listado de Usuarios</h1>
      <div></div>
    </div>

    <div class="headers">
      <h2>Representantes Registrados</h2>
      <a href="/admin/users/crear-usuario" class="crear-btn">Crear Usuario</a>
    </div>
    <% if (usuarios && usuarios.length > 0) { %>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Correo</th>
          <th>Contraseña</th>
          <th>Universidad</th>
          <th>RUC</th>
        </tr>
      </thead>
      <tbody>
        <% usuarios.forEach(function(usuario) { %>
        <tr>
          <td><%= usuario.id_usuario %></td>
          <td><%= usuario.username %></td>
          <td><%= usuario.email %></td>
          <td><%= usuario.password %></td>
          <td><%= usuario.universidad %></td>
          <td><%= usuario.ruc %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } else { %>
    <p>No hay representantes registrados.</p>
    <% } %>
  </body>
</html>
